@{
    ViewBag.Title = "SignalR Server";
}

<div>
    <add-assignment></add-assignment>
    <edit-assignment></edit-assignment>
</div>

@section scripts {
    @Scripts.Render("~/bundles/charts")
    @Scripts.Render("~/bundles/demo")    
}